---
---
<section class="flex justify-center h-screen contact-section">
    <div class="container flex flex-col justify-center items-center">
        <h3 class="color-blue t-subtitle">¡Pongamos en marcha tu proyecto!</h3>
        <h2 class="t-title">Contactame</h2>
        <p class="t-body text-center">¡Estoy emocionado de conectarme contigo! Si tienes alguna pregunta, sugerencia o estás interesado en colaborar, no dudes en ponerte en contacto conmigo. Desarrollemos tu proyecto y exploremos nuevas oportunidades juntos.</p>
        <button class="btn-primary">Contactar</button>
    </div>
</section>

<style>
    .contact-section .t-body{
		max-width: 600px;
	}

    @media(max-width: 768px){
        .color-blue.t-subtitle{
            font-size: 1.5rem;
            text-align: center;
        }
    }
</style>
