---

---

<header class="flex justify-center fixed w-full top-0">
    <div class="container">
        <div class="flex flex-row justify-between p-5">
            <h2 class="text-2xl">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                    width="500.000000pt" height="500.000000pt" viewBox="0 0 500.000000 500.000000"
                    preserveAspectRatio="xMidYMid meet">

                    <g transform="translate(0.000000,500.000000) scale(0.100000,-0.100000)"
                    fill="#000000" stroke="none">
                    <path d="M1380 2321 l0 -1581 320 0 320 0 0 600 0 600 163 0 164 0 404 -600
                    404 -600 369 0 c293 0 366 3 358 12 -17 22 -824 1242 -828 1253 -3 6 26 19 63
                    29 97 28 207 86 285 150 190 157 297 441 298 789 l0 77 -600 0 -600 0 0 -180
                    0 -180 250 0 c160 0 250 -4 250 -10 0 -21 -76 -93 -123 -117 -96 -48 -156 -55
                    -519 -60 l-338 -5 0 426 0 426 253 0 c422 0 572 -23 668 -100 l38 -30 345 0
                    c393 0 359 -9 330 91 -84 284 -258 443 -578 530 -192 51 -195 52 -968 56
                    l-728 4 0 -1580z"/>
                    </g>
                </svg>
            </h2>
            <ul>
                <li class="md:hidden"><a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);transform: ;msFilter:;"><path d="M4 6h16v2H4zm4 5h12v2H8zm5 5h7v2h-7z"></path></svg>
                </a></li>
            </ul>
        </div>
    </div>
    
</header>

<style>
    header {
        z-index: 50;
        backdrop-filter: blur(10px);
        background-color: rgba(10, 25, 47, 0.85);
    }
    svg{
        height: 50px;
        width: 50px;
    }
    svg g{
        fill: var(--color-blue);
    }
</style>